body{
	font-family: sans-serif;
	width: 100%;
	background-color: #8B99A2;
}
.game{
	margin-bottom: 0.5%;
	margin-top: 1%;
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    color: #8B99A2;
    -webkit-text-fill-color:orange; /* #8B99A2*/
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}
.mines{
	text-align: center;
	width: 100%;	
}
.matrix{
	border-radius: 15px;
	margin:auto;	
}
.steps{
	text-align: center;
	background-color: white;
	width : 60px;
	height : 60px;
	font-size: 40px;
	border-radius: 8px;
}
.home{
	text-align: center;
    font-size: 80px;
    margin-top: -45px;
}
.green{
	background-color: green;
}
.yellow{
	background-color: yellow;
}
.red{
	background-color: red;
}
.back{
	float: left;
	font-size: 50px;
}